<h1>Mosh followers</h1>

<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <a [routerLink]="['/followers', follower.id, follower.login]">
      <img 
        [src]="follower.avatar_url" 
        [alt]="follower.login" 
        class="media-object img-circle avatar">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a [routerLink]="['/followers', follower.id, follower.login]">{{follower.login}}</a>
    </h4>
    <a [href]="follower.html_url" target="_blank">{{follower.html_url}}</a>
  </div>
</div>
